package {{.package}}

// {{.name}}Service
type {{.name}}Service interface {
    FindAll()
    Create(data {{.name}}CreateModel)
    Update()
    Delete(id string)
}

// {{.name}}Repository
type {{.name}}Repository interface {
    FindAll()
    Create(data {{.name}}CreateModel)
    Update()
    Delete(id string)
}