package {{.package}}

// {{.name}}Service
type {{.name}}Service interface {
    FindAll() error
    Create(data {{.name}}CreateModel) error
    Update() error
    Delete(id string) error
}

// {{.name}}Repository
type {{.name}}Repository interface {
    FindAll() error
    Create(data {{.name}}CreateModel) error
    Update() error
    Delete(id string) error
}