package {{.package}}

type {{.package}}Repository struct {
	conn *gorm.DB
}

// New{{.name}}Repository ...
func New{{.name}}Repository(conn *gorm.DB) {{.name}}Repository {
	return &{{.package}}Repository{conn}
}

// FindAll
func (r *{{.package}}Repository) FindAll() error {
	return nil
}

// Create
func (r *{{.package}}Repository) Create(data {{.name}}CreateModel) error {
	return nil
}

// Update
func (r *{{.package}}Repository) Update() error {
	return nil
}

// Delete
func (r *{{.package}}Repository) Delete(id string) error {
	return nil
}