package {{.package}}

// UseCase don't give a shit about the world!!
type {{.package}}Service struct {
	{{.package}}Repo {{.name}}Repository
}

// New{{.name}}Service ...
func New{{.name}}Service(repo {{.name}}Repository) {{.name}}Service {
	return &{{.package}}Service{
		{{.package}}Repo: repo,
	}
}

// FindAll
func FindAll() {}

// Create
func Create(data {{.name}}CreateModel) {}

// Update
func Update() {}

// Delete
func Delete(id string) {}